<template name="login">
  <h3>Assign a Machine:</h3>

  <form class="workcenterSelection">
    <select class="form-control">
      {{#each workCenters}}
      <option>{{name}}</option>
      {{/each}}
    </select>
    <button type="submit" class="btn btn-default">Select</button>
  </form>

  <table width="100%">
    <!-- {{#each cycles}}
      <tr>
        <td>{{IndexKey}}</td>
        <td>{{PressNumber}}</td>
        <td>{{AutoStatus}}</td>
        <td>{{CycleTimeStamp}}</td>
      </tr>
    {{/each}} -->

  </table>
</template>
